body {
    background-color: white;
    color: red;
}

img { border-radius: 15px;
    float: left;
    width: 250px;
    height: auto;
    margin: 5px;
}

div {
    clear: left;
}
#footer{
    color: black;
}
.content{
    color:orange
}